.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-txt {
  color: white;
  overflow: hidden;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  padding: 0 2rem;
  z-index: 1;
}

.text-line-break {
  display: none;
}

.banner-container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 223px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

@media screen and (max-width: 760px) {
  .banner-container {
    border-radius: 10px;
    height: 111px;
    font-size: 0.5rem;
  }

  .banner-container-about {
    border-radius: 10px;
  }

  .banner-txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 620px) {
  .text-line-break {
    display: initial;
  }

  .banner-container {
    height: 111px;
    justify-content: flex-start;
  }
}
