.carrousel {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.carrousel-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carrousel-arrows-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.carrousel-arrow-right {
  cursor: pointer;
  margin-right: 1rem;
}

.carrousel-arrow-left {
  cursor: pointer;
  margin-left: 1rem;
}

.carrousel-counter {
  color: white;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 620px) {
  .carrousel {
    height: 255px;
    border-radius: 10px;
  }
  .carrousel-arrow-right {
    width: 10px;
  }
  .carrousel-arrow-left {
    width: 10px;
  }
}
