.about-dropdown {
  margin-bottom: 31px;
  width: 100%;
}

.about-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 0.75rem;
  overflow: hidden;
}

.about-dropdown-title {
  color: white;
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.about-dropdown-arrow {
  padding-right: 1rem;
  cursor: pointer;
}

.about-dropdown-content {
  background-color: var(--light-grey);
  color: var(--primary-color);
  padding: 0.75rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.accommodation-dropdown {
  margin-bottom: 31px;
  width: 100%;
}

.accommodation-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 0.6rem 0.85rem;
  overflow: hidden;
}

.accommodation-dropdown-title {
  color: white;
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
}

.accommodation-dropdown-arrow {
  cursor: pointer;
}

.accommodation-dropdown-content {
  background-color: var(--light-grey);
  color: var(--primary-color);
  padding: 1.25rem 0.85rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0.75rem;
  line-height: 1rem;
}

.accommodation-dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .accommodation-dropdown-title {
    font-size: 13px;
  }
  .accommodation-dropdown-arrow {
    width: 11px;
  }

  .about-dropdown-arrow {
    width: 2rem;
  }

  .accommodation-dropdown-content {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .accommodation-dropdown-header {
    border-radius: 5px;
  }
  .accommodation-dropdown {
    margin-bottom: 20px;
  }

  .about-dropdown {
    margin-bottom: 20px;
  }

  .about-dropdown-title {
    font-size: 13px;
  }
  .about-dropdown-content {
    line-height: 1.2rem;
  }
}
