.header {
  color: #ff6060;
  padding: 2rem 50px;
  width: 100%;
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
}

.logo {
  max-width: 10rem;
}

.nav {
  display: flex;
  /* justify-content: space-between; */
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  padding-left: 2rem;
}

.active {
  text-decoration: underline;
}

@media screen and (max-width: 938px) {
  .header {
    padding: 2rem 5%;
  }
}

@media screen and (max-width: 620px) {
  .link {
    font-size: 12px;
  }
}
