@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #ff6060;
  --light-grey: #f6f6f6;
}

html {
  box-sizing: border-box;
  font-size: 24px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 290px;
}

/* body {
  max-width: 1440px;
  min-width: 400px;
  margin: 0 auto;
  padding-left: 3vw;
  padding-right: 3vw;
} */

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 620px) {
  html {
    font-size: 12px;
  }
}
