.main-wrapper-about {
  max-width: 1340px;
  padding: 0 50px;
  width: 100%;
  flex: 1;
}

.section-infos {
  width: 100%;
  padding: 50px;
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

@media screen and (max-width: 620px) {
  .text-line-break {
    display: initial;
  }

  .section-infos {
    padding: 0;
  }
}

@media screen and (max-width: 938px) {
  .main-wrapper-about {
    padding: 0 5%;
  }
}
