.main-wrapper-accommodations {
  max-width: 1340px;
  padding: 0 50px;
  width: 100%;
  flex: 1;
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-content {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.location-content {
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.72rem;
  margin: 0;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.host-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.host-name {
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-right: 0.4rem;
  width: min-content;
  text-align: end;
}

.host-picture {
  border-radius: 50%;
  width: 2.6rem;
}

.rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-wrapper {
  width: 100%;
  display: flex;
  gap: 3.1rem;
}

@media screen and (max-width: 480px) {
  .host-wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 938px) {
  .main-wrapper-accommodations {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1200px) {
  .dropdown-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .title-content {
    font-size: 1.2rem;
  }

  .dropdown-wrapper {
    flex-direction: column;
  }

  .right-content {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.2rem;
  }

  .host-wrapper {
    margin: 0;
    margin-top: 12px;
  }
}

@media screen and (max-width: 620px) {
  .host-name {
    font-size: 12px;
  }

  .title-content {
    font-size: 18px;
  }
  .location-content {
    font-size: 14px;
  }
  .dropdown-wrapper {
    flex-direction: column;
    gap: 0;
  }
}
