.main-wrapper-error {
  max-width: 1340px;
  padding: 0 50px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.error-title {
  font-size: 288px;
  margin: 0;
  color: var(--primary-color);
  margin-top: 5rem;
}

.error-subtitle {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.error-link {
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1000px) {
  .error-title {
    font-size: 96px;
  }

  .error-subtitle {
    font-size: 18px;
  }

  .error-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 938px) {
  .main-wrapper-error {
    padding: 0 5%;
  }
}
