.main-wrapper-home {
  padding: 0 4%;
  max-width: 1400px;
  width: 100%;
  flex: 1;
}

.gallery {
  width: 100%;
  padding: 50px;
  margin-top: 43px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: var(--light-grey);
}
